.dialogsItems {
    padding: 10px;
    margin-left: 20px;
}
.dialogsMessages {
    display: inline-flex;
    font-size: 36px;
}

.dialogsItems .active {
    color: #ff8d1f;
}

.messages {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 100px;

}

.messages .message {
    color: white;
}

textarea {
    padding: 0
}
.buttonAndArea {
    display: grid;
}
textarea {
    padding: 10px;
    width: 1100px;

    margin-left: 100px;
    margin-top: 50px;

    font-size: 30px
}

button {
    height: 50px;
    width: 1122px;

    margin-left: 100px;

    font-size: 30px;
}